<div>
  <h1>Weather App</h1>
  <h3>Enter your City</h3>

  <!-- Form element with a FormGroup binding -->
  <form [formGroup]="searchForm" (ngSubmit)="searchWeather()">
    <!-- Input bound to the 'name' FormControl -->
    <input type="text" formControlName="name" placeholder="Enter city" />

    <!-- Submit button triggers searchWeather() method on click -->
    <button type="submit" [disabled]="searchForm.invalid">Submit</button>
  </form>
</div>

<div class="content" *ngIf="weather">
  <p>Temp:</p>
  {{ weather.temp_c }}
  <p>Wind(KPH):</p>
  {{ weather.wind_kph }}

  <p>Condition:</p>
  {{ weather.condition.text }}
</div>

<div class="info" *ngIf="weatherLoc">
    <p>Country:</p>
    {{ weatherLoc.country }}
    <p>Local Time:</p>
    {{ weatherLoc.localtime }}
  </div>
